@charset "UTF-8";
@import "reset", "variables", "mixins";

/* 공통 */
/*layout*/

html,
body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.wrap {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.inner {
    padding: 0 30px;
}

.fixed {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.global_header {
    position: fixed;
    top: 5vh;
    left: 0;
    z-index: 100;
    width: 100%;

    .header_info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        position: relative;
        z-index: 1000;
        a {
            display: block;
            width: 150px;
            height: 20px;
            background: url("../images/logo.svg") 0 50% no-repeat;
            background-size: contain;
        }
    }
}
.ico-more {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    i {
        animation: ani-ico 0.5s linear infinite alternate;
        color: $w;
    }
}
@keyframes ani-ico {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.burger-input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 0;
    height: 0;
    + label {
        position: relative;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // border: 0.5px solid rgba($w, 0.5);
        border-radius: 27px;
        color: $w;
        font-weight: 200;
        font-size: 18px;

        .burger {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            .bar,
            &::after,
            &::before {
                content: "";
                width: 26px;
                height: 1px;
                display: block;
                margin: 4px 0;
                border-radius: 3px;
                background-color: $w;
                transition: all 200ms ease-in-out;
            }
            .bar {
                width: 20px;
            }
        }
    }

    &:checked {
        + label {
            .burger {
                width: 28px;
                height: 28px;
                border: 1px solid $w;
                span {
                    display: none;
                }
                &:before {
                    width: 37px;
                    transform: translate(5px, 5px) rotate(135deg);
                }
                &:after {
                    width: 37px;
                    transform: translate(5px, -5px) rotate(-135deg);
                }
            }
        }

        ~ #gnb {
            opacity: 1;
            left: 0;
        }
    }
}

#gnb {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 101%;
    height: calc(var(--vh, 1vh) * 100);
    padding: 15vh 34px 2vh 0;
    opacity: 0;
    transition: all 0.3s;
    background: $prim url(../images/m-bg-menu.png) 0 100% no-repeat;
    background-size: cover;

    .box_indicator {
        width: 100%;
        > ul {
            border-right: 1px solid rgba($prim2, 0.3);
            > li {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                // height: 60px;
                margin-bottom: 2vh;
                > a,
                > button {
                    display: block;
                    width: 260px;
                    padding: 0 18px;
                    font-size: 3vh;
                    font-family: $font-serif;
                    color: $prim2;
                    transition: transform 0.5s;
                    transform-origin: 100% 50%;
                    text-align: right;
                }
                &.on {
                    margin: 3vh 0;
                    > a,
                    > button {
                        transform: scale(1.6);
                        color: $w;
                        padding: 0 12px;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 4px;
                            right: -1px;
                            bottom: 0;
                            width: 1px;
                            height: 78%;
                            background-color: $w;
                        }
                    }
                    .nav-depth2 {
                        opacity: 1;
                        height: auto;
                        margin-top: 2vh;
                        a::before {
                            display: none;
                        }
                    }
                }
            }
        }

        .nav-depth2 {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            opacity: 0;
            width: 92%;
            height: 0;
            margin-top: 0;
            margin-right: 20px;
            transition: all 0.5s;
            &::before {
                display: none;
            }
            li {
                display: flex;
                align-items: center;
                margin-top: 0;
            }
            a {
                display: block;
                padding: 5px 0;
                font-size: 0.95em;
                white-space: nowrap;
                border-bottom: 1px solid rgba($w, 0);
                font-family: $font-sans;
                font-weight: 700;
                color: $w;
            }
        }
    }
    .foot-goto {
        width: 132px;
        margin-top: 8px;
        li {
            margin-bottom: 5px;
        }
        a {
            display: block;
            height: 27px;
            border: 1px solid rgba($w, 0.22);
            border-radius: 3.5px;
            color: $prim2;
            font-size: 0.719em;
            font-family: $font-serif;
            line-height: 25px;
            text-align: center;
        }
    }
    .foot-copyright {
        // position: absolute;
        // bottom: 60px;
        // right: 4.5%;
        // z-index: 100;
        margin: 3vh 0 2vh;
        color: #aa9d90;
        text-align: right;
        font-size: 0.625em;
        text-align: right;
        .copyright {
            margin-top: 2px;
            font-size: 0.95em;
            font-family: $font-serif;
            color: $w;
            opacity: 0.5;
        }
    }
    .foot-reserve {
        position: relative;
        // bottom: 60px;
        // left: 90px;
        margin-top: auto;
        padding-right: 15px;
        color: #efe2d3;
        text-align: right;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
            background: $prim2;
        }
        em {
            display: block;
            font-size: 0.688em;
        }
        a {
            display: block;
            font-weight: bold;
            font-size: 1.25em;
            line-height: 1.3;
        }
        address {
            display: block;
            margin-top: 5px;
            font-size: 0.656em;
            opacity: 0.8;
        }
    }
}

.global_footer {
    @include posX;
    position: fixed;
    bottom: 3.5vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .copyright {
        color: rgba($w, 0.6);
        text-align: center;
        font-size: 0.594em;
        opacity: 0.34;
    }
}

.container {
    padding-top: 60px;

    .contents {
        background-color: #fff;
        padding-bottom: 90px;
    }
}
/* //common */

/*load style*/

.global_type {
    position: relative;
    width: 100%;
    padding-top: 0;
}

.global_video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    -webkit-transition: 10s ease-out;
    transition: 10s ease-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    video {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        min-height: 100%;
        height: 100vh;
        height: auto;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #000;
    }
}

.global_main_visual {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    /* Fallback for browsers that do not support Custom Properties */
    // height: calc(var(--vh, 1vh) * 100);
    z-index: 1;

    .swiper-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .main_slide_item {
        position: relative;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .item {
            position: relative;
            height: 100%;
            z-index: 0;
        }
    }

    .visual {
        position: relative;
        min-width: 100%;
        min-height: 100%;
        height: 100vh;
        -webkit-transition: 10s ease-out;
        transition: 10s ease-out;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);

        // &:before {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100vh;
        //     background-color: #000;
        //     opacity: 0.4;
        //     z-index: 2;
        // }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: 50%;
        }
    }

    .swiper-slide-active .visual {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.global_main_cont {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.brand_global_wrap {
    position: relative;
    z-index: 2;
}

.box_brand_global {
    overflow: hidden;
    // position: sticky;
    top: 0px;
    width: 100%;
    height: 100vh;

    .global_inner {
        position: relative;
        height: calc(var(--vh, 1vh) * 100);
    }

    .box_visual {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 105vh;
        background-size: cover;
        background-position: center;
    }

    .txt_area {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(calc(-50% - 16vh));
        transform: translateY(calc(-50% - 16vh));
        width: 100%;
        height: 284px;
        padding: 0 24px 0;
        color: #fff;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 25px;
            top: -100%;
            width: 1px;
            height: 100%;
            background: #fff;
            opacity: 0.3;
            z-index: 1;
        }

        .title {
            display: block;
            font-size: 18px;
            font-family: "nanum";
            line-height: 1.78;
        }

        .txt_info {
            margin-top: 28px;

            em {
                display: block;
                margin-top: 21px;
                font-size: 11px;
                color: #afb4bc;
            }
        }

        p {
            margin-top: 23px;
            font-size: 13px;
            line-height: 1.69;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

// location
.wrap_global_map {
    background-color: $prim;
    .global_inner {
        position: relative;
        width: 100vw;
        .map {
            content: "";
            display: block;
            overflow: hidden;
            height: 45vh;
            img {
                display: block;
                width: 110%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 100%;
            }
            // background: #d3d2d1 url(../images/sale-map1@2x.png) 50% 0 no-repeat;
            // background-size: cover;
        }
    }
    .map-txt {
        padding-left: 7vw;
        padding-top: 5vh;
        strong {
            display: block;
            margin-bottom: 10px;
            font-size: 0.938em;
            font-weight: 500;
            font-family: $font-serif;
            color: $w;
        }
        .lst-check {
            li {
                position: relative;
                margin-bottom: 2px;
                padding: 2px 0 0 15px;
                font-size: 0.719em;
                opacity: 0.62;
                color: $w;
                line-height: 1.2;
                letter-spacing: -0.045em;
                &::before {
                    content: "";
                    @include posY;
                    left: 0;
                    width: 12px;
                    height: 12px;
                    background: url(../images/m-map-check.png) 0 0 no-repeat;
                    background-size: contain;
                }
            }
        }
        .location-address {
            position: relative;
            margin-top: 3vh;
            &::before {
                content: "";
                display: block;
                width: 20px;
                height: 1px;
                margin-bottom: 2vh;
                background: $w;
                opacity: 0.5;
            }
            dt {
                margin-bottom: 5px;
                font-size: 0.938em;
                font-family: $font-serif;
                color: $w;
            }
            dd {
                margin-bottom: 30px;
                font-size: 0.719em;
                font-weight: 200;
                color: $w;
                opacity: 0.6;
            }
            .link- {
                display: inline-block;
                margin-right: 18px;
            }
        }
    }
}

// intro
.wrap_global_main {
    .swiper-slide-active {
        .swiper-txt {
            opacity: 1;
            transform: translate(-50%, -55%);
        }
    }

    .swiper-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 235px;
        @include posXY;
        transform: translate(-50%, -45%);
        z-index: 100;
        transform-origin: 0 50%;
        opacity: 0;
        transition: all 3s;
        text-align: center;

        &.et {
            @include posXY;
            display: flex;
            width: 95%;
            height: auto;
            margin: 0;
            &:after {
                display: none;
            }
            .txt {
                margin: 0 0 8px 0;
                font-size: 3.5vw;
                font-weight: 500;
                b {
                    display: block;
                    font-size: 3.5vw;
                    font-weight: 500;
                }
            }
            em {
                width: 90%;
                height: 43px;
                background: url(../images/m-txt-et.png) 50% 0 no-repeat;
                background-size: contain;
                text-indent: -9999px;
            }
        }
        .tit-v {
            position: relative;
            display: block;
            width: 25px;
            margin-bottom: 10px;
            color: $w;
            font-size: 5vw;
            font-weight: 600;
            font-family: $font-serif;
            letter-spacing: -0.025em;
            line-height: 1.05;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            span {
                display: block;
                height: 6px;
            }
        }
        .txt {
            // min-width: 359px;
            color: $w;
            font-size: 3.5vw;
            font-family: $font-serif;
            font-weight: 200;
            white-space: nowrap;
            letter-spacing: -0.03em;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        }
        .line- {
            display: block;
            position: absolute;
            top: 4.1rem;
            right: 0;
            width: 100px;
            height: 1px;
            background-color: $w;
        }
        .link-d {
            display: inline-block;
            position: relative;
            padding: 10px 28px 10px 0;
            color: $w;
            font-size: 0.85em;
            font-family: $font-serif;
            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $w;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 1px;
                height: 20px;
                background-color: $w;
                transform: rotate(-45deg) translate(-7px, -3px);
            }
        }
    }
}

.wrap_global_sub {
    .swiper-slide-active {
        .swiper-txt-sub {
            opacity: 1;
            bottom: 25%;
        }
    }
    .swiper-txt-sub {
        @include posX;
        bottom: 20%;
        z-index: 10;
        width: 85%;
        // transform: translate(-50%, -30%);
        text-align: left;
        font-size: 0.838em;
        font-weight: 500;
        font-family: $font-serif;
        color: $w;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 3s;
        letter-spacing: -0.038em;
        span {
            display: inline-block;
            margin: -4px 0 0 0;
            vertical-align: middle;
            font-size: 0.75em;
        }
    }
}

.box_brand_ .slide1 .swiper-txt {
    top: 20vh;
    bottom: auto;
}
.slide4 .swiper-txt {
    position: absolute;
    left: 50%;
    right: auto;
    margin-left: -105px;
    text-align: center;
}
#global4 .swiper-txt {
    top: 20vh;
    bottom: auto;
}

.wrap_global_main {
    height: calc(var(--vh, 1vh) * 100);
}

.footer_toggle {
    display: block;
    position: relative;
    width: 100%;
    height: 2.5rem;
    padding: 0px;
    line-height: 2;
    font-size: 0px;
    text-indent: -99999px;
    border: 0;
    outline: 0;
}

.footer_toggle:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    background: url("../images/btn_caution_list.png") 0 0 no-repeat;
    background-size: 30px auto;
}

.footer_toggle.on:after {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
}

// Scroll Snap
.scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    .scroll-area {
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        color: white;
    }
}
.scroll-container,
.scroll-area {
    /* max-width: 850px; */
    height: 100vh;
}

// movie
.header-movie {
    z-index: 100;
}
.container-movie {
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    // padding: 16vh 33px 3vh 0;
    background-color: $prim;
    transition: top 0.5s, opacity 0.5s;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $prim;
    }
    &.active {
        top: 0;
        .link-close {
            display: flex;
        }
    }
    .link-close {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        top: 4.8vh;
        right: 8%;
        z-index: 1100;
        margin: 0 auto;
        cursor: pointer;
        color: $w;
        font-weight: 300;
        background: $prim;
        .burger {
            width: 28px;
            height: 28px;
            border: 1px solid $w;
            border-radius: 0;
            &::after,
            &::before {
                content: "";
                width: 37px;
                height: 1px;
                display: block;
                margin: 0;
                border-radius: 3px;
                background-color: $w;
                transition: all 200ms ease-in-out;
            }
            &:before {
                transform: translate(-5px, 12px) rotate(135deg);
            }
            &:after {
                transform: translate(-5px, 12px) rotate(-135deg);
            }
        }
    }

    &.fullmovie {
        top: 0;
        .link-close {
            display: flex;
        }
    }
}
.wrapper-movie {
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 56.25%;
    .player {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 95%;
        background: #000;
    }
}

// loading
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 13px;
    font-family: "Noto Sans KR", "AppleGothic", "Malgun Gothic", "맑은 고딕", "돋음", "Dotum", sans-serif;
    text-align: center;
    color: #fff;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../../../../images/bg-loading.png) 50% no-repeat;
        animation: loadTurn 5s linear infinite both;
    }
}

.loadingoverlay_element {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes loadTurn {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(365deg);
    }
}
